<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Cadastrar um novo cliente</h1>
    <form method="post" action="/customers">
      <label for="name">Nome</label>
      <input type="text" name="customer" placeholder="John Doe" />
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="john@doe.com" />
      <button type="submit">Cadastrar</button>
      <a href="/customers">Listar todos</a>
    </form>
  </body>
</html>
